
@{
    ViewBag.Title = "Recuperar Clave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div style="padding-top: 70px"></div>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Recuperar password</h2>
                            <p>Debes ingresar tu email para recuperar tu password. Si no encuentras el correo en tu bandeja de entrada, revisa tu bandeja de span</p>
                            <div class="panel-body">
                                <form class="form" method="POST" id="formRecuperarPassword">
                                    <fieldset>
                                        <div class="center-block form-group">
                                            <div class="input-group text-center">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input id="emailInput" placeholder="Email" class="form-control" type="email"
                                                       oninvalid="setCustomValidity('Por favor ingrese un email valido!')"
                                                       required autofocus>
                                            </div>
                                            @Html.ValidationMessage("validacionEmail", new { @class = "label label-danger", id = "validacionEmail" })
                                        </div>
                                        <img src="~/Content/Images/cargando.gif" id="cargando" width="100" height="100" style="display:none" />
                                        <div class="center-block form-group">
                                            <input class="btn btn-lg btn-primary " value="Recuperar clave" type="submit" id="btnEnviar">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        $(function () {

            $('#btnEnviar').on('click',function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    dataType : 'json',
                    data: { 'email': $('#emailInput').val() },
                    url: "@Url.Action("ResetearPassword", "Login")",
                    success: function (result) {
                        if (result.respuesta == false) {
                            $('#validacionEmail').show();
                            $('#validacionEmail').html(result.error);
                        } else {
                            $(location).attr('href', "@Url.Action("PasswordReseteada", "Login")");
                        }
                    },
                    error: function (result) {
                        alert('ocurrio un error' + result);
                    },
                    beforeSend: function () {
                        $('#validacionEmail').hide();
                        $('#cargando').css({ display: 'inline-flex' });
                        $('#btnEnviar').prop('disabled', true);
                    },
                    complete: function () {
                        $('#cargando').css('display', 'none');
                        $('#btnEnviar').prop('disabled', false);
                    }
                });
            });

            $('#emailInput').on('input',function (e) {
                $('#validacionEmail').hide();
            });

        });

    </script>
}
